<!-- <div class="container col-md-6 rounded-4">
    <form [formGroup]="form" (ngSubmit)="validar()" class="container">
        <h1>Registro</h1>
        <hr />
        <div class="row py-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" formControlName="email" [class.red-icon]="this.form.get('email')?.invalid" />

                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre" [class.red-icon]="this.form.get('nombre')?.invalid" />

                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Legajo</label>
                    <input type="text" name="legajo" id="legajo" class="form-control" formControlName="legajo" [class.red-icon]="this.form.get('legajo')?.invalid" />
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control" formControlName="apellido" [class.red-icon]="this.form.get('apellido')?.invalid" />
                </div>

            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Contraseña</label> <span class="eyeIcon" style="padding-left: 5px;" (click)="viewpass()"><i
                            [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'" tippy="Ver contraseña"></i></span>
                    <input [type]="changeType?'password':'text'" class="form-control" name="contrasenia" formControlName="contrasenia" [class.red-icon]="this.form.get('contrasenia')?.invalid" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Confirmar Contraseña</label> <span class="eyeIcon" style="padding-left: 5px;" (click)="viewpass()"><i
                            [ngClass]="visible?'fa-solid fa-eye-slash':'fa-solid fa-eye'" tippy="Ver contraseña"></i></span>
                    <input [type]="changeType?'password':'text'" class="form-control" name="contraseniaC" formControlName="contraseniaC" [class.red-icon]=" this.form.get('contraseniaC')?.invalid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid py-2">
                <button class="btn btnAzul" [disabled]="form.invalid" type="submit">Crear
                    cuenta</button>
            </div>
            <div class="d-grid py-2">
                <button type="button" class="btn btnGris" routerLink="/seguridad/login">Ya tengo
                    cuenta</button>
            </div>
        </div>
        <div class="row">
            <div class="d-flex mt-2 justify-content-center" tippy="Volver al inicio">
                <i class="fa-solid fa-arrow-left icono" routerLink="" type="button"></i>
            </div>
        </div>
    </form>
</div> -->