<div class="container col-md-6 rounded-4">
    <form [formGroup]="form" (ngSubmit)="validar()" class="container">
        <h1>Registro de usuario</h1>
        <hr />
        <div class="row py-2">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" formControlName="email" [class.red-icon]="this.form.get('email')?.invalid || this.emailInvalido" />

                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre" [class.red-icon]="this.form.get('nombre')?.invalid" />

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control" formControlName="apellido" [class.red-icon]="this.form.get('apellido')?.invalid" />
                </div>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Contraseña</label> <span class="eyeIcon" style="padding-left: 5px;" (click)="viewpass()"><i
                            [ngClass]="visible?'eyeIcon fas fa-eye-slash':'eyeIcon fas fa-eye'" tippy="Ver contraseña"></i></span>
                    <input [type]="changeType?'password':'text'" class="form-control" name="contrasenia" formControlName="contrasenia" [class.red-icon]="this.form.get('contrasenia')?.invalid" />
                    <div *ngIf="this.form.get('contrasenia')?.invalid || this.form.get('contrasenia')?.touched" class="invalid-feedback">
                        La contraseña debe contener 6 caracteres.
                      </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Confirmar Contraseña</label> <span class="eyeIcon" style="padding-left: 5px;" (click)="viewpass()"><i
                            [ngClass]="visible?'eyeIcon fas fa-eye-slash':'eyeIcon fas fa-eye'" tippy="Ver contraseña"></i></span>
                    <input [type]="changeType?'password':'text'" class="form-control" name="contraseniaC" formControlName="contraseniaC" [class.red-icon]=" this.form.get('contraseniaC')?.invalid" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid py-2">
                <button class="btn btnAzul" [disabled]="form.invalid" type="submit">Crear
                    cuenta</button>
            </div>
            <div class="d-grid py-2">
                <button type="button" class="btn btnGris" routerLink="/">Ya tengo
                    cuenta</button>
            </div>
        </div>       
    </form>
</div>